:root {
    --pri-very-dark-magenta: hsl(300, 43%, 22%);
    --pri-soft-pink: hsl(333, 80%, 67%);

    --neu-dark-grayish-magenta: hsl(303, 10%, 53%);
    --neu-light-grayish-magenta: hsl(300, 24%, 96%);
    --neu-white: hsl(0, 0%, 100%);
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

main {
    max-width: 325px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--pri-very-dark-magenta);
}

main p {
    padding: 0rem 1rem;
    color: var(--neu-dark-grayish-magenta);
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--neu-light-grayish-magenta);
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    padding: 1rem;
}

.star-score img {
    width: 15px;
    margin: 0rem 0.125rem;
}

.rating span {
    color: var(--pri-very-dark-magenta);
    font-weight: 800;
}

.review {
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    background-color: var(--pri-very-dark-magenta);
    padding: 2.5rem 1.5rem;
}

.reviewer {
    display: flex;
    align-items: center;
    margin: 0rem 0rem 0rem 1rem;
}

.reviewer-info {
    margin: 0rem 0rem 0rem 1.5rem;
}

.reviewer-name {
    color: white;
}

.reviewer-title {
    color: var(--pri-soft-pink);
}

.reviewer img {
    border-radius: 50%;
    width: 40px;
}

.quote {
    color: var(--neu-light-grayish-magenta);
    text-align: left;
    line-height: 1.25;
}

.attribution {
        font-size: 11px;
        text-align: center;
}

.attribution a {
        color: hsl(228, 45%, 44%);
}